[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "PRIMAL"]
	path = PRIMAL
	url = https://github.com/cran/PRIMAL
	shallow = true
	registered = true
